.emp_intro span{
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	color: #E55A00;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.emp_intro i{
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	text-align: center;

	color: #353454;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.emp_intro{
	margin-top: 200px;
	width: 100%;
	height: 250px;
}
.para4{
	width: 100%;
	height: 900px;
	background-image: url('image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.emp_form{
	float: right;
	width: 540px;
	height: 750px;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
	border-radius: 40px;
	margin: 70px 100px;
	padding-top: 40px;
}
.emp_form span{
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #353454;

}
.emp_form input[type=text]{
	border: 2px solid #A6B3DD;
	border-radius: 5px;
	color: rgba(229, 90, 0, 0.8);
	width: 330px;
	height: 40px;
}
.emp_form input[type=password]{
	border: 2px solid #A6B3DD;
	border-radius: 5px;
	color: red;
	width: 330px;
	height: 40px;

}
.emp_form input[type=submit]{
	background: #353454;
	border-radius: 30px;
	width: 200px;
	height: 55px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #A6B3DD;

}
.attractions{
	width: 100%;
	padding: 50px;
	height: 350px;
}
.drop{
	width: 350px;
	height: 330px;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #E55A00;
	float: left;
	background: rgba(255, 255, 255, 0.95);
	border: 3px solid #A6B3DD;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px 80px;
	padding: 20px;
	margin-left: 120px;
}
.drop img{
	width: 100px;
	height: 100px;
}
.drop span{
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	font-weight: bold;
	color: #353454;

}